# Copy this file to .env and fill in your values
# Never commit .env to GitHub

AIRFLOW_UID=501
AIRFLOW_GID=0
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp-key.json
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW__CORE__LOAD_EXAMPLES=false
